<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-progress-bar [color]="progressBarColor" value="1"></ion-progress-bar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{ id ? 'Edit ' + id : 'Add' }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="submit()" [disabled]="disabled">
        <ion-icon name="save" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-input [errorText]="getErrorText('id')" fill="outline" formControlName="id" label="ID" label-placement="fixed"
    ></ion-input>

    <ion-input [errorText]="getErrorText('year')" fill="outline" formControlName="year" label="Year"
               label-placement="fixed"
    ></ion-input>

    <ion-select [errorText]="getErrorText('game')" fill="outline" formControlName="game"
                label="Game" label-placement="fixed"
    >
      <ion-select-option *ngFor="let game of getGames()" [value]="game">{{ game }}</ion-select-option>
    </ion-select>

    <ion-progress-bar [color]="progressBarColor"></ion-progress-bar>

    <div *ngFor="let key of ['persons', 'judges']">
      <ion-input #personInput
                 (keydown.backspace)="removeInput(personInput, key)"
                 (keydown.enter)="addInput(personInput, key)"
                 [errorText]="getErrorText(key + 'Validator')"
                 [formControlName]="key + 'Validator'" [label]="key === 'persons' ? 'Players' : 'Judges'"
                 fill="outline" id="personInput" label-placement="fixed"
                 name="personInput"
                 placeholder="confirm with button/enter"
      >
        <ion-button (click)="addInput(personInput, key)" color="medium" slot="end">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-input>
      <ion-item lines="none">
        <div class="chips-wrapper">
          <ion-chip *ngFor="let person of this.form?.get(key)?.value; let i = index" color="dark" outline="true">
            <ion-label>{{ person }}</ion-label>
            <ion-icon (click)="removeInputByIndex(i, key)" class="remove-chip" color="danger" name="close"></ion-icon>
          </ion-chip>
        </div>
      </ion-item>
    </div>

    <ion-progress-bar [color]="progressBarColor"></ion-progress-bar>

    <br>
    
    <ion-textarea [autoGrow]="true" [errorText]="getErrorText('problem')" fill="outline" formControlName="problem"
                  label="Problem" label-placement="floating"
    ></ion-textarea>
    <br>
    <ion-textarea [autoGrow]="true" [errorText]="getErrorText('solution')" fill="outline" formControlName="solution"
                  label="Solution" label-placement="floating"
    ></ion-textarea>
  </form>
</ion-content>
